<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="initDo" default-destroy-method="destroyDo"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 
 -->

	<bean id="basket"
		class="spring.basic.beans.constructor.list.BookBasket">
		<constructor-arg value="John's books"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Novel</value>
				<value>Poem</value>
				<value>Essay</value>
			</list>
		</constructor-arg>
	</bean>
</beans>
