<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<!--  
Question-1: We don't define consoleWriter bean in this xml.
	<bean id="consoleWriter" class="spring.autowire.q3.ConsoleWriter">
	</bean>
	So it will throw the error below.
	
************************************************************************************	
org.springframework.beans.factory.BeanCreationException: 
...
nested exception is org.springframework.beans.factory.NoSuchBeanDefinitionException: 
No qualifying bean of type [spring.autowire.q3.ConsoleWriter] found for dependency: 
expected at least 1 bean which qualifies as autowire candidate for this dependency. 
************************************************************************************

Assign proper annotation argument in order to print message below. 
************************************************
not write console because consoleWriter is null
Write to file: Hi again
************************************************

 -->

	<bean id="logger" class="spring.autowire.q3.Logger">
	</bean>


	<bean id="fileWriter" class="spring.autowire.q3.FileWriter">
	</bean>

	<context:annotation-config></context:annotation-config>

<!--  Answer-1: In the Logger.java

	@Autowired(required=false)
	public void setConsoleWriter(ConsoleWriter writer) {
		this.consoleWriter = writer;
	}
	
-->	
</beans>