<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="logger" class="spring.autowire.q1.Logger"	autowire="byType">

	</bean>


	<bean id="consolewriter" class="spring.autowire.q1.ConsoleWriter">
	</bean>

	<bean id="filewriter" class="spring.autowire.q1.FileWriter">
	</bean>
	
</beans>